<div class='login-page-wrapper'>
  <div class="login-page mat-elevation-z4">
    <header class="login-header">
      <h2 class="login-heading">Аутентификация</h2>
    </header>
    <form class="login-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput type="text" placeholder="Введите логин" name="login" formControlName="login"
          required>
        <mat-error>{{validation.validate(loginControl.errors)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Введите пароль" name="password" formControlName="password" required>
        <mat-error>{{validation.validate(passwordControl.errors)}}</mat-error>
      </mat-form-field>
      <button mat-button type="submit" class="login-button">Войти</button>
    </form>
  </div>
</div>

