<div class="rules-list">
  <app-header title="Правила:">
    <app-amount *appLoading="isRulesCountLoaded;diameter: 20; color: 'accent'" [currentValue]="rules.length" [maxValue]="rulesCount"></app-amount>
    <button mat-fab routerLink="./new">
      <mat-icon>add</mat-icon>
    </button>
  </app-header>
  <mat-list class="rules-list__list">
    <ng-template *appLoading="!loading" ngFor let-rule [ngForOf]="rules">
      <mat-list-item class="rule">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item [routerLink]="[rule._id.toHexString()]">Изменить</button>
          <button mat-menu-item (click)="onDelete(rule._id.toHexString())">Удалить</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" class="rule__menu-button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <h3 class="mat-h3 rule-name">{{rule.name}}</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-template>
    <button mat-raised-button color="primary" class="list__get-button get-button" (click)="getNext()">Следующие</button>
  </mat-list>
</div>
