@import "src/angular/app/styles/mixins/layout.scss";

.rule {
    position: relative;

    &__menu-button {
        position: absolute;
        top: 0;
        right: 0;
    }
    
}

.rules-list {
    padding-bottom: $bottom-padding;

    &__list {
        @include page-width();
    }
}

.header {
    color: #fff;
    background-color: #3F51B5;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: $header-height;
        line-height: $header-height;
        margin-top: 0;

        @include page-width();
    }

    &__create-button {
        position: absolute;
        bottom: -28px;
        left: -56px + -15px;
    }
}

.list__get-button {
    margin-top: 10px;
}

.get-button {
    width: 100%;
}
