@import "src/angular/app/styles/mixins/layout.scss";

.rule {
    position: relative;

    &__menu-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.rules-list {
    padding-bottom: $bottom-padding;

    &__list {
        @include page-width();
    }
}

.list__get-button {
    margin-top: 10px;
}

.get-button {
    width: 100%;
}
