.panel {

    &__info-table {
        width: 100%;
        
    }
}

.info-table {
    &__row {
        display: flex;
        height: auto;
    }
}

.row {
    &__cell {
        flex: (1 / 3);
    }
}
