<div class="diagnostic" formGroupName="diagnostic">
  <mat-form-field>
    <mat-select formControlName="sex" placeholder="Пол">
      <mat-option *ngFor="let sex of sexes" [value]="sex.value">
        {{sex.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="age" placeholder="Возраст">
      <mat-option *ngFor="let age of ages" [value]="age.toString()">
        {{age.inHumanLanguage}}
      </mat-option>
    </mat-select>
    <mat-hint>в годах</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="T" placeholder="Температура">
      <mat-option *ngFor="let T of Ts" [value]="T.toString()">
        {{T.inHumanLanguage}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="time" placeholder="Время от начала заболевания">
      <mat-option *ngFor="let t of ts" [value]="t.toString()">
        {{t.inHumanLanguage}}
      </mat-option>
    </mat-select>
    <mat-hint>в часах</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="vomiting" placeholder="Рвота">
      <mat-option *ngFor="let vomiting of vomitings" [value]="vomiting.toString()">
        {{vomiting.inHumanLanguage}}
      </mat-option>
    </mat-select>
    <mat-hint></mat-hint>
  </mat-form-field>
  <fieldset class="fieldset" formGroupName="oak">
    <legend>ОАК</legend>
    <mat-form-field>
      <mat-select formControlName="L" placeholder="Лейкоцитоз">
        <mat-option *ngFor="let L of Ls" [value]="L.toString()">
          {{L.inHumanLanguage}}
        </mat-option>
      </mat-select>
      <mat-hint>10^9</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="nf" type="number" min="0" max="100" placeholder="Нейтрофилез">
      <mat-hint>в %</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="lf" type="number" min="0" max="100" placeholder="Лимфоцитоз">
      <mat-hint>в %</mat-hint>
    </mat-form-field>
  </fieldset>
</div>
