@import "src/angular/app/styles/mixins/layout.scss";

.diagnostic-page {
    padding-top: $top-padding;
    padding-bottom: $bottom-padding;

    @include page-width();
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    &__save-button {
        margin-right: 8px;
    }
}

.diagnostic-info {
    margin-bottom: 10px;

    @include page-width();
}
