@import "src/angular/app/styles/mixins/layout.scss";

.diagnostic-page {
    padding-top: $top-padding;
    padding-bottom: $bottom-padding;

    @include page-width();
}

.controls {
    margin-top: 10px;
}

.diagnostic-info {
    margin-bottom: 10px;

    @include page-width();
}
