<app-header title="Диагностика:"></app-header>
<div class="diagnostic-page">
  <form class="diagnostic-page__diagnostic" [formGroup]="diagnosticFormGroup" (ngSubmit)="onDiagnost()">
    <app-diagnostic 
    [form]="diagnosticFormGroup"
    [ages]="ages"
    [Ts]="Ts"
    [Ls]="Ls"
    [ts]="ts"
    [vomitings]="vomitings"
    [sexes]="sexes"></app-diagnostic>
    <div class="controls">
      <button [disabled]="loading" mat-raised-button class="controls__save-button" color="primary" type="submit">
        <span *appLoading="!loading; color: 'accent'">Диагностирование</span>
      </button>
      <button [disabled]="loading" mat-raised-button class="controls__load-data-button" type="button">
        <span *appLoading="!loading; color: 'accent'">Загрузить данные</span>
        <label for="file" class="controls__file-label"></label>
      </button>

      <input id="file" class="controls__file-input" type="file" (change)="onLoadData($event.target.files)" />
    </div>
  </form>
</div>
<div class="diagnostic-info" *ngIf="diagnosticInfo">
  <app-diagnostic-info [diagnosticInfo]="diagnosticInfo" [general]="general"></app-diagnostic-info>
</div>
