.rule {

    &__wrapper {
        display: grid;
        grid-auto-rows: minmax(85px, auto);
        align-items: center;
    }
}

.controls {
    display: flex;

    &__save-button {
        margin-right: 10px;
    }
}
