<form class="rule" [formGroup]="ruleFormGroup" (ngSubmit)="onSave()">
  <div class="rule__wrapper">
    <mat-form-field>
      <input matInput formControlName="name" type="text" placeholder="Имя">
    </mat-form-field>
    <app-diagnostic
    [form]="ruleFormGroup.get('diagnostic')"
    [ages]="ages"
    [Ts]="Ts"
    [Ls]="Ls"
    [ts]="ts"
    [vomitings]="vomitings"
    [sexes]="sexes"></app-diagnostic>
    <mat-form-field>
      <input matInput formControlName="diagnosis" type="text" placeholder="Диагноз">
    </mat-form-field>
  </div>
  <div class="controls">
      <button [disabled]="isSaving" mat-raised-button mat-raised-button class="controls__save-button" color="primary" type="submit">
          <span *appLoading="!isSaving; color: 'accent'">Сохранить</span>
      </button>
      <button mat-raised-button type="button" routerLink="../">Назад</button>
  </div>
</form>
